<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="/css/dashboard.css" /> -->
  <link rel="stylesheet" href="/css/index.css" />
  <!-- <link rel="stylesheet" href="/css/navbar.css" /> -->
  <link rel="stylesheet" href="/css/particles.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  

</head>

<style>
  :root {

    --blue: #4546b4;
    --violet: rgb(87, 59, 211);
    --indigo: rgb(81, 54, 235);
    --purple: rgb(124, 63, 223);
    --pink: #df65e4;
    --lighting-color: #984ddd;

  }



  html {
    scroll-behavior: smooth;
  }

  .from-success-600 {
    --tw-gradient-from: #65a30d var(--tw-gradient-from-position);
    --tw-gradient-from-position: ;
    --tw-gradient-to: rgba(101, 163, 13, 0) var(--tw-gradient-from-position);
    --tw-gradient-to-position: ;
    --tw-gradient-stops: #65a30d, #a3e635;
  }

  .bg-gradient-to-r {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
  }

  .rounded-full {
    border-radius: 9999px;
  }

  li {
    list-style: none;
    margin: 0;

    color: #abacb3;
  }



  header {
    border-bottom: solid 1px hsla(240, 5%, 5%, 0);
  }
  body{
    background-color: #fff !important;
  }

  .header {
    background-color: rgb(16, 24, 38) !important;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: all 0.4s ease-in-out;
  }

  .navbar {
    padding-left: 12vw;
    padding-right: 12vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;

  }

  .logo {
    color: white;
    font-size: 1.6rem;
  }

  .menu-link {
    font-family: inherit;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 300;
    color: #cfd2e6a8;
    text-shadow: #8a2bff00 0 -12px 2px;
    transition: all 0.4s ease-in-out;
    border-bottom: #65469b4a solid 1px;
  }

  .menu-link:hover {
    font-weight: 350;
    border-bottom: #be98ff7b solid 1px;
    text-shadow: #6c6cf86e 0 2px 30px;
    color: #fafaff;
  }

  .menu-link:active,
  .menu-link:focus {
    font-weight: 350;
    border-bottom: #be98ff7b solid 2px;
    text-shadow: #7a7affb8 0 4px 40px;
    color: #fafaff;
  }

  @media only screen and (min-width: 48rem) {
    .menu {
      position: relative;
      top: 0;
      left: 0;
      width: auto;
      height: auto;
      margin-left: auto;
      background: 0 0;
      box-shadow: none;
    }

    .menu-inner {
      display: flex;
      flex-direction: row;
      column-gap: 1.2rem;
      margin: 0 auto;
      margin-right: 3rem;
    }

    .menu-link {
      text-transform: capitalize;
    }

    .menu-block {
      margin-left: 2rem;
    }
  }
</style>
</head>

<body>


  <header class="header" id="header">
    <nav class="navbar">
      <a href="/" class="brand">
        <div class="logo">Devnest</div>

      </a>
      <div class="menu" id="menu">
        <ul class="menu-inner">
          <li class="menu-item"><a class="menu-link" href="#">Home</a></li>
          <li class="menu-item"><a class="menu-link" href="#">Features</a></li>
          <li class="menu-item"><a class="menu-link" href="#">Tools</a></li>
          <li class="menu-item"><a class="menu-link" href="/login">Login</a></li>
          <li class="menu-item"><a class="menu-link" href="/signup">Signup</a></li>
        </ul>
      </div>


    </nav>
  </header>



  <div style="min-height:60vh;background-color: rgb(16,24,38);" >
    
    <div class="hero-container">



      <h1 class="hero-title">Explore, Learn, Discuss!</h1>
      <p class="hero-desc">A hub for thought-provoking discussions and knowledge sharing. Dive into the conversation.
      </p>
      <div class="hero-btn">


        <form action=<%=(curUser) ? "/posts" : "/login" %>
          >

          <button id="bottone1"><strong>Join the Forum</strong></button>
        </form>





        <form action="/posts">
          <button class="bro-btn">

            Browse Discussions

          </button>
        </form>

      </div>
    </div>

  </div>


  <div class="coustom-col py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-base leading-7 coustom-text">Questions Answered</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl">44 million</dd>
        </div>
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-base leading-7 coustom-text">Active Discussions</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl">$119 trillion</dd>
        </div>
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-base leading-7  coustom-text">New users annually</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl">46,000</dd>
        </div>
      </dl>
    </div>
  </div>




  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <h2 class="text-center text-lg font-semibold leading-8 text-gray-900">Trusted by the world’s most innovative teams
      </h2>
      <div
        class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
          src="https://tailwindui.com/img/logos/158x48/transistor-logo-gray-900.svg" alt="Transistor" width="158"
          height="48">
        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
          src="https://tailwindui.com/img/logos/158x48/reform-logo-gray-900.svg" alt="Reform" width="158" height="48">
        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
          src="https://tailwindui.com/img/logos/158x48/tuple-logo-gray-900.svg" alt="Tuple" width="158" height="48">
        <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1"
          src="https://tailwindui.com/img/logos/158x48/savvycal-logo-gray-900.svg" alt="SavvyCal" width="158"
          height="48">
        <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1"
          src="https://tailwindui.com/img/logos/158x48/statamic-logo-gray-900.svg" alt="Statamic" width="158"
          height="48">
      </div>
    </div>
  </div>


  <section id="features">
        <div class=" justify-content-center">
            <div class="features">
                <div class="d-flex">
                    <div class="w-50">
                        <img src="https://chatbot-pearl-eight.vercel.app/img/customer-profiling.svg" class="img-res" alt="">
                    </div>
                    <div class="w-50">
                        <h1 class="display-6 fw-bold">Fuel the Conversation, Multiply Your Impact</h1>
                        <p class="desc">Join us in building a vibrant community where users share, discuss, and connect across a wide array of topics. Together, we're creating a dynamic space for limitless discussions</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section>
        <div class="justify-content-center">
            <div class="features">
                <div class="d-flex">

                    <div class="w-50">
                        <h1 class="display-6">Engage, Discuss, and Connect</h1>
                        <p class="desc">Join the conversation by easily replying to any post on our forum. Share your thoughts, insights, and opinions with our vibrant community. Foster meaningful discussions and connect with like-minded individuals across a wide range of topics.</p>
                    </div>
                    <div class="w-50">
                        <img src="	https://chatbot-pearl-eight.vercel.app/img/features-quick-replies.svg" class="img-res" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>




  <div class="bg-white pb-24  sm:py-32">
    <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Meet our leadership</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">From tech experts to creative minds, our leaders are here to
          enhance your forum experience. Join us on this journey! 🚀🌟💬</p>
      </div>
      <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
        <li>
          <div class="flex items-center gap-x-6">
            <img class="h-16 w-16 rounded-full" src="./founder-img/abhishek2.jpg" alt="">
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Abhishek Sharma</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600">Co-Founder / CEO</p>
            </div>
          </div>
        </li>
        <li>
          <div class="flex items-center gap-x-6">
            <img class="h-16 w-16 rounded-full" src="./founder-img/avinash.jpg" alt="">
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Avinash</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600">Designer</p>
            </div>
          </div>
        </li>
        <li>
          <div class="flex items-center gap-x-6">
            <img class="h-16 w-16 rounded-full" src="./founder-img/ayush.jpg" alt="">
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Ayush Kadam</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600">Community Managers</p>
            </div>
          </div>
        </li>
        <li>
          <div class="flex items-center gap-x-6">
            <img class="h-16 w-16 rounded-full" src="./founder-img/aniket.jpg" alt="">
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Aniket Paswan</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600">Experts or Contributors</p>
            </div>
          </div>
        </li>
        <li>
          <div class="flex items-center gap-x-6">
            <img class="h-16 w-16 rounded-full" src="./founder-img/mannan.jpg" alt="">
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Mannan lalse</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600">Technical Support</p>
            </div>
          </div>
        </li>

        <!-- More people... -->
      </ul>
    </div>
  </div>

  

  <h2 class="text-3xl bg-white px-12 font-bold tracking-tight text-gray-900 sm:text-4xl">What Our Community Says</h2>
  <div id="testimonials-container"
    class="bg-white relative px-12 z-10 mx-auto flex w-full max-w-screen-2xl snap-x snap-mandatory overflow-x-scroll pt-8 pb-20 md:block md:columns-2 lg:columns-3">
    <div class="flex">
      <figure
        class="mx-[5vw] mb-4 flex min-w-[90vw] snap-center flex-col justify-between rounded-xl border border-gray-100 bg-white p-6 shadow-xl shadow-gray-900/10 md:mx-0 md:inline-block md:min-w-fit">
        <blockquote class="relative text-gray-900">
          
          <p class="relative py-5 leading-7 xl:text-lg">👏🌟 An invaluable resource! I've found answers, new perspectives, and fantastic connections here. Thanks for this amazing platform!</p>
        </blockquote>
        <figcaption class="border-t border-gray-400/20 pt-5 text-sm text-gray-600">
          <div class="flex items-center justify-between">
            <div class="ml-3">
              <p class="font-semibold text-gray-700 group-hover:text-gray-900 xl:text-lg">Ashish Kumar</p>
              <p class="text-xs font-medium text-gray-500 group-hover:text-gray-600 xl:text-sm">Software Engineer</p>
            </div>
            <div><img alt="Profile picture of Ashish Kumar" loading="lazy" width="36" height="36" decoding="async"
                data-nimg="1" class="inline-block h-9 w-9 rounded-full xl:h-11 xl:w-11" style="color:transparent"
                srcset="https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1470303070122754050%2FzO2SevAz_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp 1x, https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1470303070122754050%2FzO2SevAz_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp 2x"
                src="https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1470303070122754050%2FzO2SevAz_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp">
            </div>
          </div>
        </figcaption>
      </figure>
    </div>
    <figure
      class="mx-[5vw] mb-4 flex min-w-[90vw] snap-center flex-col justify-between rounded-xl border border-gray-100 bg-white p-6 shadow-xl shadow-gray-900/10 md:mx-0 md:inline-block md:min-w-fit">
      <blockquote class="relative text-gray-900">
        
        <p class="relative py-5 leading-7 xl:text-lg">🚀💬 This forum accelerates knowledge sharing. The discussions are engaging, and the community is welcoming. Join us for an enriching experience!</p>
      </blockquote>
      <figcaption class="border-t border-gray-400/20 pt-5 text-sm text-gray-600">
        <div class="flex items-center justify-between">
          <div class="ml-3">
            <p class="font-semibold text-gray-700 group-hover:text-gray-900 xl:text-lg">Riten Debnath</p>
            <p class="text-xs font-medium text-gray-500 group-hover:text-gray-600 xl:text-sm">Founder &amp; CEO @Fueler
            </p>
          </div>
          <div><img alt="Profile picture of Riten Debnath" loading="lazy" width="36" height="36" decoding="async"
              data-nimg="1" class="inline-block h-9 w-9 rounded-full xl:h-11 xl:w-11" style="color:transparent"
              srcset="https://wsrv.nl/?url=https%3A%2F%2Ffueler.io%2Fstorage%2Fusers%2Favatar%2Fritendnavatar1625944320.png&amp;w=72&amp;q=70&amp;output=webp 1x, https://wsrv.nl/?url=https%3A%2F%2Ffueler.io%2Fstorage%2Fusers%2Favatar%2Fritendnavatar1625944320.png&amp;w=72&amp;q=70&amp;output=webp 2x"
              src="https://wsrv.nl/?url=https%3A%2F%2Ffueler.io%2Fstorage%2Fusers%2Favatar%2Fritendnavatar1625944320.png&amp;w=72&amp;q=70&amp;output=webp">
          </div>
        </div>
      </figcaption>
    </figure>
    <figure
      class="mx-[5vw] mb-4 flex min-w-[90vw] snap-center flex-col justify-between rounded-xl border border-gray-100 bg-white p-6 shadow-xl shadow-gray-900/10 md:mx-0 md:inline-block md:min-w-fit">
      <blockquote class="relative text-gray-900">
        
        <p class="relative py-5 leading-7 xl:text-lg">🔑💡 A treasure trove of insights! This forum has been instrumental in my growth. The experts here are like guiding stars in the night. 🌠</p>
      </blockquote>
      <figcaption class="border-t border-gray-400/20 pt-5 text-sm text-gray-600">
        <div class="flex items-center justify-between">
          <div class="ml-3">
            <p class="font-semibold text-gray-700 group-hover:text-gray-900 xl:text-lg">Tanishka Borkar</p>
            <p class="text-xs font-medium text-gray-500 group-hover:text-gray-600 xl:text-sm">University Student,
              KJSIEIT</p>
          </div>
          <div><img alt="Profile picture of Tanishka Borkar" loading="lazy" width="36" height="36" decoding="async"
              data-nimg="1" class="inline-block h-9 w-9 rounded-full xl:h-11 xl:w-11" style="color:transparent"
              srcset="https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1553250475083829249%2FynLCnzey_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp 1x, https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1553250475083829249%2FynLCnzey_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp 2x"
              src="https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1553250475083829249%2FynLCnzey_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp">
          </div>
        </div>
      </figcaption>
    </figure>
    <figure
      class="mx-[5vw] mb-4 flex min-w-[90vw] snap-center flex-col justify-between rounded-xl border border-gray-100 bg-white p-6 shadow-xl shadow-gray-900/10 md:mx-0 md:inline-block md:min-w-fit">
      <blockquote class="relative text-gray-900">
       
        <p class="relative py-5 leading-7 xl:text-lg">🌈💫 A diverse community where magic happens! The atmosphere is positive, and it's a wellspring of knowledge. Join us and be part of the journey!</p>
      </blockquote>
      <figcaption class="border-t border-gray-400/20 pt-5 text-sm text-gray-600">
        <div class="flex items-center justify-between">
          <div class="ml-3">
            <p class="font-semibold text-gray-700 group-hover:text-gray-900 xl:text-lg">Manuraj Shukla</p>
            <p class="text-xs font-medium text-gray-500 group-hover:text-gray-600 xl:text-sm">Frontend developer
              @buildoor</p>
          </div>
          <div><img alt="Profile picture of Manuraj Shukla" loading="lazy" width="36" height="36" decoding="async"
              data-nimg="1" class="inline-block h-9 w-9 rounded-full xl:h-11 xl:w-11" style="color:transparent"
              srcset="https://wsrv.nl/?url=https%3A%2F%2Ffueler.io%2Fstorage%2Fusers%2Favatar%2Fmanuraj1107avatar1661707625.png&amp;w=72&amp;q=70&amp;output=webp 1x, https://wsrv.nl/?url=https%3A%2F%2Ffueler.io%2Fstorage%2Fusers%2Favatar%2Fmanuraj1107avatar1661707625.png&amp;w=72&amp;q=70&amp;output=webp 2x"
              src="https://wsrv.nl/?url=https%3A%2F%2Ffueler.io%2Fstorage%2Fusers%2Favatar%2Fmanuraj1107avatar1661707625.png&amp;w=72&amp;q=70&amp;output=webp">
          </div>
        </div>
      </figcaption>
    </figure>
    <figure
      class="mx-[5vw] mb-4 flex min-w-[90vw] snap-center flex-col justify-between rounded-xl border border-gray-100 bg-white p-6 shadow-xl shadow-gray-900/10 md:mx-0 md:inline-block md:min-w-fit">
      <blockquote class="relative text-gray-900">
        
        <p class="relative py-5 leading-7 xl:text-lg">🌺🤝 More than a forum, it's a family! I've found friends and mentors here. The support and camaraderie are heartwarming. Join us and thrive!</p>
      </blockquote>
      <figcaption class="border-t border-gray-400/20 pt-5 text-sm text-gray-600">
        <div class="flex items-center justify-between">
          <div class="ml-3">
            <p class="font-semibold text-gray-700 group-hover:text-gray-900 xl:text-lg">Jess Klette</p>
            <p class="text-xs font-medium text-gray-500 group-hover:text-gray-600 xl:text-sm">Software Engineer</p>
          </div>
          <div><img alt="Profile picture of Jess Klette" loading="lazy" width="36" height="36" decoding="async"
              data-nimg="1" class="inline-block h-9 w-9 rounded-full xl:h-11 xl:w-11" style="color:transparent"
              srcset="https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1534639743727812615%2Fs4cz-sTk_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp 1x, https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1534639743727812615%2Fs4cz-sTk_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp 2x"
              src="https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1534639743727812615%2Fs4cz-sTk_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp">
          </div>
        </div>
      </figcaption>
    </figure>
    <figure
      class="mx-[5vw] mb-4 flex min-w-[90vw] snap-center flex-col justify-between rounded-xl border border-gray-100 bg-white p-6 shadow-xl shadow-gray-900/10 md:mx-0 md:inline-block md:min-w-fit">
      <blockquote class="relative text-gray-900">
        
        <p class="relative py-5 leading-7 xl:text-lg">🗨️🏆 Best in class! This forum is a role model for online communities. The discussions are engaging, and the guidance is top-notch. Join and flourish!</p>
      </blockquote>
      <figcaption class="border-t border-gray-400/20 pt-5 text-sm text-gray-600">
        <div class="flex items-center justify-between">
          <div class="ml-3">
            <p class="font-semibold text-gray-700 group-hover:text-gray-900 xl:text-lg">Sandeep Tomar</p>
            <p class="text-xs font-medium text-gray-500 group-hover:text-gray-600 xl:text-sm">Product Manager
              @K2FocusOnForce</p>
          </div>
          <div><img alt="Profile picture of Sandeep Tomar" loading="lazy" width="36" height="36" decoding="async"
              data-nimg="1" class="inline-block h-9 w-9 rounded-full xl:h-11 xl:w-11" style=""
              srcset="https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1497083494346129409%2FHvqJWPEg_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp 1x, https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1497083494346129409%2FHvqJWPEg_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp 2x"
              src="https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1497083494346129409%2FHvqJWPEg_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp">
          </div>
        </div>
      </figcaption>
    </figure>
    <figure
      class="mx-[5vw] mb-4 flex min-w-[90vw] snap-center flex-col justify-between rounded-xl border border-gray-100 bg-white p-6 shadow-xl shadow-gray-900/10 md:mx-0 md:inline-block md:min-w-fit">
      <blockquote class="relative text-gray-900">
        
        <p class="relative py-5 leading-7 xl:text-lg">🛡️🤖 Moderation excellence! The admins here ensure a safe and friendly environment. It's a haven of respect and knowledge. Join and feel at home</p>
      </blockquote>
      <figcaption class="border-t border-gray-400/20 pt-5 text-sm text-gray-600">
        <div class="flex items-center justify-between">
          <div class="ml-3">
            <p class="font-semibold text-gray-700 group-hover:text-gray-900 xl:text-lg">Bhumika Chauhan</p>
            <p class="text-xs font-medium text-gray-500 group-hover:text-gray-600 xl:text-sm">University Student, AKTU
            </p>
          </div>
          <div><img alt="Profile picture of Bhumika Chauhan" loading="lazy" width="36" height="36" decoding="async"
              data-nimg="1" class="inline-block h-9 w-9 rounded-full xl:h-11 xl:w-11" style="color:transparent"
              srcset="https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1560181149347233792%2FW3b164H4_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp 1x, https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1560181149347233792%2FW3b164H4_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp 2x"
              src="https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1560181149347233792%2FW3b164H4_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp">
          </div>
        </div>
      </figcaption>
    </figure>
    <figure
      class="mx-[5vw] mb-4 flex min-w-[90vw] snap-center flex-col justify-between rounded-xl border border-gray-100 bg-white p-6 shadow-xl shadow-gray-900/10 md:mx-0 md:inline-block md:min-w-fit">
      <blockquote class="relative text-gray-900">
       
        <p class="relative py-5 leading-7 xl:text-lg">💡🌄 Dawn of insights! This forum opens up new horizons. The wisdom shared here is transformative. Join and embark on a journey of discovery!</p>
      </blockquote>
      <figcaption class="border-t border-gray-400/20 pt-5 text-sm text-gray-600">
        <div class="flex items-center justify-between">
          <div class="ml-3">
            <p class="font-semibold text-gray-700 group-hover:text-gray-900 xl:text-lg">‍Aniket Saha</p>
            <p class="text-xs font-medium text-gray-500 group-hover:text-gray-600 xl:text-sm">University Student</p>
          </div>
          <div><img alt="Profile picture of ‍Aniket Saha" loading="lazy" width="36" height="36" decoding="async"
              data-nimg="1" class="inline-block h-9 w-9 rounded-full xl:h-11 xl:w-11" style="color:transparent"
              srcset="https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1474785148784631810%2F-g7O0QUF_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp 1x, https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1474785148784631810%2F-g7O0QUF_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp 2x"
              src="https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1474785148784631810%2F-g7O0QUF_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp">
          </div>
        </div>
      </figcaption>
    </figure>
    <figure
      class="mx-[5vw] mb-4 flex min-w-[90vw] snap-center flex-col justify-between rounded-xl border border-gray-100 bg-white p-6 shadow-xl shadow-gray-900/10 md:mx-0 md:inline-block md:min-w-fit">
      <blockquote class="relative text-gray-900">
       
        <p class="relative py-5 leading-7 xl:text-lg">🌻🚀 An uplifting community! I've gained knowledge, inspiration, and friendships here. It's not just a forum; it's a journey of self-discovery. Join the adventure!</p>
      </blockquote>
      <figcaption class="border-t border-gray-400/20 pt-5 text-sm text-gray-600">
        <div class="flex items-center justify-between">
          <div class="ml-3">
            <p class="font-semibold text-gray-700 group-hover:text-gray-900 xl:text-lg">Sam</p>
            <p class="text-xs font-medium text-gray-500 group-hover:text-gray-600 xl:text-sm">Music marketing
              professional</p>
          </div>
          <div><img alt="Profile picture of Sam" loading="lazy" width="36" height="36" decoding="async" data-nimg="1"
              class="inline-block h-9 w-9 rounded-full xl:h-11 xl:w-11" style="color:transparent"
              srcset="https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1618790588022935552%2FdxKFB3X7_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp 1x, https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1618790588022935552%2FdxKFB3X7_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp 2x"
              src="https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1618790588022935552%2FdxKFB3X7_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp">
          </div>
        </div>
      </figcaption>
    </figure>
    <figure
      class="mx-[5vw] mb-4 flex min-w-[90vw] snap-center flex-col justify-between rounded-xl border border-gray-100 bg-white p-6 shadow-xl shadow-gray-900/10 md:mx-0 md:inline-block md:min-w-fit">
      <blockquote class="relative text-gray-900">
      
        <p class="relative py-5 leading-7 xl:text-lg">🎓💬 Lifelong learning is a joy here! The wisdom shared is pure gold, and the camaraderie is heartwarming. Join us, and you'll never stop growing!</p>
      </blockquote>
      <figcaption class="border-t border-gray-400/20 pt-5 text-sm text-gray-600">
        <div class="flex items-center justify-between">
          <div class="ml-3">
            <p class="font-semibold text-gray-700 group-hover:text-gray-900 xl:text-lg">gayboredape.eth</p>
            <p class="text-xs font-medium text-gray-500 group-hover:text-gray-600 xl:text-sm">Founder ABY, Blockchain
              enthusiast</p>
          </div>
          <div><img alt="Profile picture of gayboredape.eth" loading="lazy" width="36" height="36" decoding="async"
              data-nimg="1" class="inline-block h-9 w-9 rounded-full xl:h-11 xl:w-11" style="color:transparent"
              srcset="https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1611916843194662912%2FYpsQHaQ6_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp 1x, https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1611916843194662912%2FYpsQHaQ6_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp 2x"
              src="https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1611916843194662912%2FYpsQHaQ6_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp">
          </div>
        </div>
      </figcaption>
    </figure>
    <figure
      class="mx-[5vw] mb-4 flex min-w-[90vw] snap-center flex-col justify-between rounded-xl border border-gray-100 bg-white p-6 shadow-xl shadow-gray-900/10 md:mx-0 md:inline-block md:min-w-fit">
      <blockquote class="relative text-gray-900">
        
        <p class="relative py-5 leading-7 xl:text-lg">🛠️🔍 The answers you seek are here! I've found solutions to problems I couldn't solve elsewhere. The experts here are wizards at troubleshooting. Join and experience the magic!</p>
      </blockquote>
      <figcaption class="border-t border-gray-400/20 pt-5 text-sm text-gray-600">
        <div class="flex items-center justify-between">
          <div class="ml-3">
            <p class="font-semibold text-gray-700 group-hover:text-gray-900 xl:text-lg">Muralidhara Bhat</p>
            <p class="text-xs font-medium text-gray-500 group-hover:text-gray-600 xl:text-sm">University Student</p>
          </div>
          <div><img alt="Profile picture of Muralidhara Bhat" loading="lazy" width="36" height="36" decoding="async"
              data-nimg="1" class="inline-block h-9 w-9 rounded-full xl:h-11 xl:w-11" style="color:transparent"
              srcset="https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1267856067293089792%2FFUPKERSJ_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp 1x, https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1267856067293089792%2FFUPKERSJ_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp 2x"
              src="https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1267856067293089792%2FFUPKERSJ_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp">
          </div>
        </div>
      </figcaption>
    </figure>
    <div class="flex">
      <figure
        class="mx-[5vw] mb-4 flex min-w-[90vw] snap-center flex-col justify-between rounded-xl border border-gray-100 bg-white p-6 shadow-xl shadow-gray-900/10 md:mx-0 md:inline-block md:min-w-fit">
        <blockquote class="relative text-gray-900">
          
          <p class="relative py-5 leading-7 xl:text-lg">🙌💬 A sanctuary for knowledge seekers! The discussions are enlightening, and the friendships are heartwarming. Join us on this enlightening journey</p>
        </blockquote>
        <figcaption class="border-t border-gray-400/20 pt-5 text-sm text-gray-600">
          <div class="flex items-center justify-between">
            <div class="ml-3">
              <p class="font-semibold text-gray-700 group-hover:text-gray-900 xl:text-lg">Anurag Srivastava</p>
              <p class="text-xs font-medium text-gray-500 group-hover:text-gray-600 xl:text-sm">University Student, KIIT
              </p>
            </div>
            <div><img alt="Profile picture of Anurag Srivastava" loading="lazy" width="36" height="36" decoding="async"
                data-nimg="1" class="inline-block h-9 w-9 rounded-full xl:h-11 xl:w-11" style="color:transparent"
                srcset="https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1307433401314541568%2FRunEXN2U_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp 1x, https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1307433401314541568%2FRunEXN2U_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp 2x"
                src="https://wsrv.nl/?url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1307433401314541568%2FRunEXN2U_400x400.jpg&amp;w=72&amp;q=70&amp;output=webp">
            </div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>


  <footer class="z-40 border-t border-gray-200 bg-gray-50 dark:border-gray-700 dark:bg-gray-900"
    aria-labelledby="footer-heading">
    <h3 id="footer-heading" class="sr-only">Footer</h3>
    <div class="mx-auto max-w-screen-2xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16 text-sm">
      <div class="xl:grid xl:grid-cols-3 xl:gap-8">
        <div class="space-y-8 dark:text-white xl:col-span-1">
          <div class="logo">Devnest</div>
          <p class="text-base text-gray-700 dark:text-gray-300">Learn to code interactively - without ever leaving your
            browser.</p>
          <div class="flex space-x-6"><a
              class="text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200" target="_blank"
              href="https://www.facebook.com/codedamncom/"><span class="sr-only">Facebook</span><svg fill="currentColor"
                viewBox="0 0 24 24" class="h-6 w-6" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                  clip-rule="evenodd"></path>
              </svg></a><a class="text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200"
              target="_blank" href="https://www.instagram.com/codedamn/"><span class="sr-only">Instagram</span><svg
                fill="currentColor" viewBox="0 0 24 24" class="h-6 w-6" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                  clip-rule="evenodd"></path>
              </svg></a><a class="text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200"
              target="_blank" href="https://twitter.com/codedamncom"><span class="sr-only">Twitter</span><svg
                fill="currentColor" viewBox="0 0 24 24" class="h-6 w-6" aria-hidden="true">
                <path
                  d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84">
                </path>
              </svg></a><a class="text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200"
              target="_blank" href="https://github.com/codedamn/core"><span class="sr-only">GitHub</span><svg
                fill="currentColor" viewBox="0 0 24 24" class="h-6 w-6" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                  clip-rule="evenodd"></path>
              </svg></a><a class="text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200"
              target="_blank" href="https://www.youtube.com/codedamn"><span class="sr-only">YouTube</span><svg
                class="h-6 w-6" aria-hidden="true" fill="currentColor" viewBox="0 0 75 75">
                <defs>
                  <clipPath id="clip1">
                    <path d="M 0 9.609375 L 75 9.609375 L 75 64.828125 L 0 64.828125 Z M 0 9.609375 "></path>
                  </clipPath>
                </defs>
                <g id="surface1">
                  <g clip-path="url(#clip1)" clip-rule="nonzero">
                    <path fill="currentColor"
                      d="M 72.910156 19.132812 C 72.214844 15.34375 68.914062 12.585938 65.078125 11.722656 C 59.339844 10.519531 48.722656 9.65625 37.234375 9.65625 C 25.753906 9.65625 14.96875 10.519531 9.222656 11.722656 C 5.398438 12.585938 2.085938 15.167969 1.394531 19.132812 C 0.691406 23.4375 0 29.46875 0 37.21875 C 0 44.972656 0.691406 51 1.5625 55.308594 C 2.261719 59.09375 5.566406 61.855469 9.394531 62.714844 C 15.484375 63.921875 25.925781 64.78125 37.414062 64.78125 C 48.902344 64.78125 59.339844 63.921875 65.433594 62.714844 C 69.257812 61.855469 72.5625 59.269531 73.261719 55.308594 C 73.957031 51 74.824219 44.796875 75.003906 37.21875 C 74.648438 29.46875 73.777344 23.4375 72.910156 19.132812 Z M 27.84375 49.277344 L 27.84375 25.160156 L 49.070312 37.21875 Z M 27.84375 49.277344 ">
                    </path>
                  </g>
                </g>
              </svg></a><a class="text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200"
              target="_blank" href="https://discord.com/invite/brtAY92J2r"><span class="sr-only">Discord</span><svg
                class="h-6 w-6" aria-hidden="true" fill="currentColor" viewBox="0 0 50 50">
                <path
                  d="M 41.625 10.769531 C 37.644531 7.566406 31.347656 7.023438 31.078125 7.003906 C 30.660156 6.96875 30.261719 7.203125 30.089844 7.589844 C 30.074219 7.613281 29.9375 7.929688 29.785156 8.421875 C 32.417969 8.867188 35.652344 9.761719 38.578125 11.578125 C 39.046875 11.867188 39.191406 12.484375 38.902344 12.953125 C 38.710938 13.261719 38.386719 13.429688 38.050781 13.429688 C 37.871094 13.429688 37.6875 13.378906 37.523438 13.277344 C 32.492188 10.15625 26.210938 10 25 10 C 23.789063 10 17.503906 10.15625 12.476563 13.277344 C 12.007813 13.570313 11.390625 13.425781 11.101563 12.957031 C 10.808594 12.484375 10.953125 11.871094 11.421875 11.578125 C 14.347656 9.765625 17.582031 8.867188 20.214844 8.425781 C 20.0625 7.929688 19.925781 7.617188 19.914063 7.589844 C 19.738281 7.203125 19.34375 6.960938 18.921875 7.003906 C 18.652344 7.023438 12.355469 7.566406 8.320313 10.8125 C 6.214844 12.761719 2 24.152344 2 34 C 2 34.175781 2.046875 34.34375 2.132813 34.496094 C 5.039063 39.605469 12.972656 40.941406 14.78125 41 C 14.789063 41 14.800781 41 14.8125 41 C 15.132813 41 15.433594 40.847656 15.621094 40.589844 L 17.449219 38.074219 C 12.515625 36.800781 9.996094 34.636719 9.851563 34.507813 C 9.4375 34.144531 9.398438 33.511719 9.765625 33.097656 C 10.128906 32.683594 10.761719 32.644531 11.175781 33.007813 C 11.234375 33.0625 15.875 37 25 37 C 34.140625 37 38.78125 33.046875 38.828125 33.007813 C 39.242188 32.648438 39.871094 32.683594 40.238281 33.101563 C 40.601563 33.515625 40.5625 34.144531 40.148438 34.507813 C 40.003906 34.636719 37.484375 36.800781 32.550781 38.074219 L 34.378906 40.589844 C 34.566406 40.847656 34.867188 41 35.1875 41 C 35.199219 41 35.210938 41 35.21875 41 C 37.027344 40.941406 44.960938 39.605469 47.867188 34.496094 C 47.953125 34.34375 48 34.175781 48 34 C 48 24.152344 43.785156 12.761719 41.625 10.769531 Z M 18.5 30 C 16.566406 30 15 28.210938 15 26 C 15 23.789063 16.566406 22 18.5 22 C 20.433594 22 22 23.789063 22 26 C 22 28.210938 20.433594 30 18.5 30 Z M 31.5 30 C 29.566406 30 28 28.210938 28 26 C 28 23.789063 29.566406 22 31.5 22 C 33.433594 22 35 23.789063 35 26 C 35 28.210938 33.433594 30 31.5 30 Z">
                </path>
              </svg></a></div>
        </div>
        <div class="mt-12 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
          <div class="md:grid md:grid-cols-2 md:gap-8">
            <div>
              <h3 class="text-sm font-semibold uppercase tracking-wider text-gray-600 dark:text-gray-300">Solutions</h3>
              <ul role="list" class="mt-4 space-y-4">
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/learning-paths">Learning paths</a></li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/courses">Courses</a></li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/projects">Build projects</a></li>
                
                
              </ul>
            </div>
            <div class="mt-12 md:mt-0">
              <h3 class="text-sm font-semibold uppercase tracking-wider text-gray-600 dark:text-gray-300">Resources</h3>
              <ul role="list" class="mt-4 space-y-4">
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/pricing">Pricing</a></li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/student">Student account</a></li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/news">Developer blog</a></li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/refer">Refer and earn</a></li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_blank" href="https://partner.codedamn.com/register">Affiliate program</a></li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/online-compiler">Online compilers</a></li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/tool">Online web tools</a></li>
              </ul>
            </div>
          </div>
          <div class="md:grid md:grid-cols-2 md:gap-8">
            <div>
              <h3 class="text-sm font-semibold uppercase tracking-wider text-gray-600 dark:text-gray-300">Company</h3>
              <ul role="list" class="mt-4 space-y-4">
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/about">About</a></li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_blank" href="https://careers.codedamn.com/jobs">Careers</a></li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/contact">Support</a></li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/terms-of-service">Terms of Service</a></li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/privacy-policy">Privacy Policy</a></li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_blank" href="https://feedback.codedamn.com/">Feedback</a></li>
              </ul>
            </div>
            <div class="mt-12 md:mt-0">
              <h3 class="text-sm font-semibold uppercase tracking-wider text-gray-600 dark:text-gray-300">Popular</h3>
              <ul role="list" class="mt-4 space-y-4">
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/problem-lists">Practice coding problem lists</a></li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/news/reactjs/react-prerequisites-javascript">How much JS before React?</a>
                </li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/online-compiler/reactjs">React.js online compiler</a></li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/online-compiler/python">Python online IDE</a></li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/news/solidity/what-is-require-in-solidity">Solidity require keyword</a></li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/news/nextjs/next-js-vs-nuxt-js">Next.js vs Nuxt.js</a></li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/news/nextjs/next-js-best-practices">Next.js best practices</a></li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/news/solidity/payable-function-in-solidity-example-how-to-use-it">Payable
                    function solidity</a></li>
                <li><a class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                    target="_self" href="/online-compiler/solidity">Solidity online compiler</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-12 border-t border-gray-200 pt-8 dark:border-gray-700">
        <p class="text-base text-gray-400 xl:text-center">© devnest™ <!-- -->2023<!-- -->. All rights reserved.</p>
      </div>
    </div>
  </footer>

  <script src="./js/particles.js"></script>
  <script src="./js/app.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>



</body>

</html>